#join-call {
  padding-top: 4.75em;
  padding-bottom: 3.75em;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & a {
    font-size: 1.5625em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5em 2em;
  }
}